{block content}
<div class="container">
    <h1 n:block=title>Přihlásit se</h1>

    {control signInForm}

    <p><a n:href="up">Zaregistrovat se</a></p>
    <a n:href="Homepage:default">Zpět</a>

</div>