{block content}

<div class="container">
            <h1 n:block=title>Zaregistrovat se</h1>

            {control signUpForm}

            <p><a n:href="in">Máte již účet? Přihlaš te se.</a></p>
            <a n:href="Homepage:default">Zpět</a>  
</div>